/*
Font Names:
font-family: 'Poppins', sans-serif;
*/

/* GENERAL -------------------------------------------------------- */

header {
  /* display: flex;
  justify-content: space-between; */
  /* position: fixed; */
  margin-right: 0.0em;
  top: 0;
  width: 100%;
  z-index: 3;
  /* background:rgba(217, 250, 255, 1); */
  background-image: linear-gradient(to right, #29bbce,#D9FAFF);
  padding-bottom: 0.5em;
  
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

nav ul {
  list-style: none;
  /* text-align: right; */
  padding-right: 2.0em;
} 

nav ul li {
  display: inline;
  margin-right: 20px;
  font-size: 1.3em;
}

 nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.23s ease;
}

footer {
  text-align: center;
  /* font-weight: bold; */
  /* margin-top: 20px;
  margin-bottom: 20px; */
  font-size: 1.3em;
  background-image: linear-gradient(to right, #29bbce,#D9FAFF);
  padding-bottom: 0.75em;
  padding-top: 0.75em;
}

.logo > a {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;

  color: #239EAF;
  /* color: #29bbce; */
  transition: color 0.23s ease;
}

.p > a {
  color:#1C7F8D;
}

a:hover{
  color: #25CEE5;
}

.logo {
  padding-left: 0.8em;
  margin-block-start: 0.67em; 
  margin-block-end: 0.67em; 
  font-size: 2em; 
  display:inline;
  color: #fffaf1;
}

.logo > a:hover{
  color:#ffffff;
  transition: color 0.6s ease;
}


/* TEXT/FONT ------------------------------------------------------------------*/

html {
  font-family: 'Poppins', sans-serif;
  /* background-color: white; */
  /* background-color: #fffaf1; */
  /* background-color: black; */
  /* og */
  background-color: #FBF3E6;
  /* not this one background-color: #FBF3EE; */
  color:#64403F;
  /* color: red; */
}

body {

  /* line-height: 1.8; */
  margin: 0px;

}

.centered-p {
  text-align: center;
}

.portfolio-settings {
  text-align: center;
  padding-bottom: 3.0em;
  margin: 30px auto;
  max-width: 1200px; 
  /* margin-top: 7.5em; */
}

.page-wrapper {
  margin: 0 auto;  
}

.page-wrapper > img {
  background-image: url("img/BTC.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 0px;
  border: 0;
  border-collapse:collapse;
  background-color: #fff;
  display: block;
  margin: 0;
}


.page-wrapper-infog > img {
  background-image: url("img/infographic background.JPG");
  background-size: cover;
  background-position: 50;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 0px;
  border: 0;
  border-collapse:collapse;
  background-color: #fff;
  display: block;
  margin: 0;
}

.page-wrapper-social-orbit > img {
  background-image: url("img/social orbit screen cap.jpg");
  background-size: cover;
  /* background-position: 10; */
  background-position-y: 29%;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 0px;
  border: 0;
  border-collapse:collapse;
  background-color: #fff;
  display: block;
  margin: 0;
}

.page-wrapper-acgu > img {
  background-image: url("img/as-children-grow-up-screencap.png");
  background-size: cover;
  background-position-y: 20%;
  background-repeat: no-repeat;
  height: 100px;
  border-radius: 0px;
  border: 0;
  border-collapse:collapse;
  background-color: #fff;
  display: block;
  margin: 0;
}

.page-wrapper-verax > img {
  background-image: url("img/verax_brand.png");
  background-size: cover;
  background-position-y: 46%;
  background-repeat: no-repeat;
  height: 150px;
  /* border: none;
  outline: none;
  border-width: 0px; */
  /* border: black; */
  border-radius: 0px;
  border: 0;
  border-collapse:collapse;
  background-color: #fff;
  display: block;
  margin: 0;
}

.page-wrapper-day-int > img {
  background-image: url("img/Interactions of a Day.jpg");
  background-size: cover;
  background-position-y: 59%;
  background-repeat: no-repeat;
  height: 100px;
  border-radius: 0px;
  border: 0;
  border-collapse:collapse;
  background-color: #fff;
  display: block;
  margin: 0;
}

img {
  width:100%;
  height:auto;
  border: none;
  border-radius: 5px;
}

/* @media only screen and (max-width: 768px) {

  img{
    width:30%;
  }
}

@media only screen and (max-width: 450px) {

  img{
    width:10%;
  }
} */


.container-main {
  line-height: 1.7;
  /* padding-top: 5.0em; */
  padding-bottom: 5.0em;
  /* padding-left: 5.0em;
  padding-right: 5.0em; */
  /* margin-left: 1.0em;
  margin-right: 5.0em; */
  
  margin: 30px auto;
  margin-left: 9vw;
  margin-right: 9vw;
  
  max-width: 800px; 
  /* 700px is good for the text, but 800px is nicer for the media */
  /* width: 1000px; */
  
}

h1 {
  font-size: 3.0em;
  margin-top: 0;
  /* margin-left: 5.0em;
  margin-right: 5.0em; */
  /* color:#774b49; */
  color:#63403f;
  margin-block-end: 0px;
} 

h2 {
  margin-top: 0;
  font-weight: 450;
  font-size: 2.5em;
  color: #8A5552;
  margin-block-end: 0px;
/* margin-top: 0.5em;
margin-bottom: 0.05em;
margin-left: 5.0em;
  margin-right: 5.0em; */
} 

h3 {
  font-size: 1.5em;
  font-weight: 450;
  color: #8A5552;
  
  /* margin-left: 5.0em;
  margin-right: 5.0em; */
}

/* BUTTON ------------------------------------------------ */
button {
  background-color: white;
  border-radius: 60px;
  text-align: center;
  text-decoration: none;
  border: none;
  color: black;
  font-size: 2.0em;
  padding: 1.0em;
  padding-left: 2.0em;
  padding-right: 2.0em;
  margin-left: 1.0em;
  margin-right: 1.0em;
  transition: background-color 0.5s ease;
}

button:hover {
  cursor: pointer;
  background-color: #25CEE5;
  color: white;
}



/* ul {
  list-style: none;
  text-align: center;
  padding: 0px;
} */

/* blue spread ------------------------------------------------- */
/* one */
.blue-spread {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 20vw;
  padding-right: 20vw;
  /* background-color: #D9FAFF; */
  background-image: linear-gradient(to right, #29bbce,#D9FAFF);
  text-align: center;
  
}

.blue-spread > img {
  margin-top: 0.4em;
}

.blue-spread > h2 {
  margin-top: 0.7em;
}

/* .blue-spread { ORIGINAL----
  padding: 5vw;
  background-color: #D9FAFF;
  text-align: center;
} */

.blue-spread button{
  margin-top: 0.4em;
  margin-bottom: 0.4em;

}


/* Grid containers ----------------------------------------------------------*/
.grid-container {
  margin-left: 5vw;
  margin-right: 5vw;

display: grid;
grid-template-rows: auto;
grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
grid-gap: 0px;
background-color: white;
padding: 10px;
}

.grid-container > div {
  grid-column: span 5;
  border-radius: 15pt;
}


/* new grid containers --------------------------------------------*/

.grid-btc {
  background-image: url("img/BetweenTheCards.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
 
}

.grid-social-orbit {
  background-image: url("img/social-orbit-display.png");
  background-size: cover; 
  background-position: center; 
  /* background-position-y: 30%; */
   background-repeat: no-repeat;
  min-height: 50vh;
} 

.grid-infog {
  background-image: url("img/infographic-display.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.grid-acgu {
  background-image: url("img/acgu-display.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.grid-verax {
  background-image: url("img/verax_display.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.grid-day-int {
  background-image: url("img/Day_Int_Display.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
}


/* template art grid containers --------------------------------------------*/

.grid-art {
  background-image: url("img/abc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.grid2-art {
  /* background-image: url("img/img.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 40vh;
  display: block;
}

.grid2-art:hover {
  background-color: white;
  opacity: 0.65;
}

/* about page ------------------------------------------------------------- */

.connect-grid {
  margin-left: 5vw;
  margin-right: 5vw;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
}

.connect-grid > div {
  text-align: center;
}

.connect {
  font-weight: 500;
  font-size: 2.3em;
  padding: 5px;
}

.socials {
  font-size: 2.0em;
  padding: 30px;
}

.about-grid-container {
  margin-left: 5vw;
  margin-right: 5vw;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% auto;
  grid-gap: 20px;
  background-color: white;
  padding: 10px;
}

.about-grid-container > div {
  border-radius: 15pt;
}


/* ART PAGES ---------------------------------------------------- */
/* index page art grid container -------------------------------------------- */
.art-grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, minmax(0, 1fr));;
    margin-left: 5vw;
    margin-right: 5vw;
    grid-gap: 15px;
    /* background-color: white; */
    padding: 10px;
    text-align: center;
}


.art-grid-container > a {
  cursor: pointer;
  grid-column: auto;
  margin: 10px;

  border-radius: 15pt;
  box-shadow: 0px 0px 25px #22A0B1;  
  display: block;

}


.on-light {
  box-shadow: 0px 0px 6px rgba(82, 56, 56, 0.5);
  color: white; 
  background-color: #63403f;
  border-radius: 50px; 
  padding-right: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  /* border-color: #239EAF;
  border-width: 3px; */
  /* border-style: solid; */
  font-size: 0.7em;
  font-weight: 600;
  
  /* border-color: #63403f;
  border-width: 2px;
  border-style: solid; */
  letter-spacing: 0.5px;
}

.on-regular {
  box-shadow: 0px 0px 6px rgba(82, 56, 56, 0.5);
  color: #63403f;
  background-color: white;
  border-radius: 50px; 
  
  padding-right: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  /* border-color: #239EAF;
  border-width: 3px; */
  /* border-style: solid; */
  font-size: 0.7em;
  font-weight: 600;
  
  /* border-color: #63403f;
  border-width: 2px;
  border-style: solid; */
  letter-spacing: 0.5px;
}

.art-grid-container button {
  background-color: white;
  border-radius: 50px; 
  /* padding: 10px; */
  padding-right: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;

  border-color: #239EAF;
  border-width: 3.5px;
  border-style: solid;
  color: #1C7F8D;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  /* font-size: 0.6em; */
  font-size: 0.7em;
  margin-left: 0px;
  margin-right: 0px;
  /* box-shadow: 0px 0px 10px grey;
  opacity: 75%; */

  /* text-decoration: none;
  border: none; */
}
.art-grid-container h3 {
  line-height: 2.0;
  margin-top: 0px;
 }

.art-grid-container p {
 /* margin-left: 10px;
 margin-right: 10px; */
 font-size: 0.7em;
 line-height: 4.5;
}

.banner {
  width:100%; 
  border: none; 
  color: black; 
  background-color: rgba(255,255,255,0.85); 
  border-radius: 0px; 
  font-size: 1.0em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.hide {
  opacity: 0%;
  transition: opacity 0.23s ease;
}

.art-grid-container > a:hover > .hide {
  opacity: 100%;
}

.banner2 {
  box-shadow: 0px 2px 6px rgba(82, 56, 56, 0.5);
  width:100%; 
  background-color: white;
  /* background-color: rgba(255,255,255,0.8);  */
  /* margin-top: 0.6em; */
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 0.5em;
  color: #64403F;
  padding-bottom: 0.8em;
  font-weight: 500;
}

.banner2 > h3 {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.4;
  padding-top: 10px;
}

.banner2 > element {
  font-size: 0.85em;
}


/* Media Query - different device sizes -------------------------------------*/
/* smaller screen size */
@media screen and (max-width: 600px){

  /* .art-grid-container > a {
    grid-column: span 1;
  }
  */

}


@media screen and (max-width: 900px){ 

   .art-grid-container > a {
     grid-column: span 3;
   }

   h1 {
    font-size: 2.0em;
   }
 
   h2 {
    font-size: 1.7em;
   }

   h3 {
    font-size: 1.2em;
   }

   button {
    padding-left: 1.0em;
    padding-right: 1.0em;
   }

   #pdf {
    height: 50vh;
  }

  #s-o-proto {
    width: 80%;
    height: 400;
  }
  
}
